@model Address
@{
    ViewBag.Title = "Delete Address";
}

<h2>Confirm Deletion</h2>
<h3>@Model.StreetAddress, @Model.City, @Model.State @Model.Zip</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="AddressID" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</a>
</form>
